[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
cython = "*"
confluent-kafka = "*"
torch = "*"
torchvision = "*"
numba = "*"
scikit-image = "*"
sklearn = "*"
filterpy = "*"
numpy = "*"
pyyaml = "*"
logbook = "*"
quart = "*"
cryptography = "*"
Jinja2 = ">=2.10.1"


[dev-packages]
pylint = "*"
rope = "*"
black = "*"

[requires]
python_version = "3.6.5"

[pipenv]
allow_prereleases = true
